html {
  font-size: 62.5%;
}
body {
  width: 980px;
  margin: 0 auto;

}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.header {
  background-color: #F5B4B3;
  height: 60px;
  font-size: 1.5rem;
  margin-bottom: 0px;

}
.top_menu li {
  float: left;
  width: auto;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
ul.top_menu {
  float: right;
}
.image_area{
  width: 100%;
  margin-bottom: 10px;

}
.side_menu li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
  width:30%;
  display: block;
  position: relative;

}

.side_menu li a{
  font-size:2rem;

  text-decoration: none;
  display: block;
  padding: 2rem;
}
.co{
  color: #fff;
}

.ask {
  color: #191919;
  background-color: #ffe5de;
}

.company {
  position: absolute;
  top:30%;
  letter-spacing:3px;
  margin-top: 20px;
}

.company td{
  text-align:left;
  width:480px;

}

.company th{
    width: 480px;
    height:7rem;
    text-align:right;

}

#soushin{
  background-color:rgb(0,150,170);
  color:white;
  width:50px;
  height:35px;
  font-size:1.5rem;
  margin-left: 150px;
  letter-spacing:7px;
}

#soushin:hover{
  opacity:0.5;
}
